@charset "utf-8";

@import url('/css/reset.css');
@import url('/css/layout.css');
@import url('/css/component.css');
@import url('/css/common.css');

body:has(.admin) {
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px; /* 추가된 여백 */
}
.admin-main {
	min-height: calc(100vh - 144px);
	background-color: #fff;
}
.admin {
	width: auto;
	min-width: 600px;
	max-width: 800px;
	background: white;
	padding: 40px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	box-sizing: border-box;
	margin: 20px 0; /* 위아래 여백 추가 */
}

.admin h1 {
	font-size: 24px;
	font-weight: 700;
	color: #333;
	text-align: center;
	margin-bottom: 30px;
}

.admin form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.admin label {
	font-weight: 700;
	color: #333;
}

.admin input[type='text'],
.admin input[type='password'],
.admin input[type='email'],
.admin textarea,
.admin select {
	width: 100%;
	padding: 12px 15px;
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 16px;
	background-color: #fff;
	transition: border-color 0.3s ease-in-out;
	box-sizing: border-box;
}

.admin input[type='text']:focus,
.admin input[type='password']:focus,
.admin input[type='email']:focus,
.admin textarea:focus,
.admin select:focus {
	border-color: #007bff;
}

.admin input::placeholder,
.admin textarea {
	color: #bbb;
}

.address-group,
.phone-group {
	display: flex;
	gap: 10px;
}

.phone-group select,
.phone-group input {
	flex: 1;
}

.address-group button,
.phone-group button {
	padding: 12px 15px;
	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #9a6235;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.address-group button:hover,
.phone-group button:hover {
	background-color: #763b00;
}

.out-btn {
	right: 3px;
	position: absolute;
	color: #c7c7c7;
}
.out-btn:hover {
	color: #ff0000;
}

.admin-btn {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.admin-btn.submit {
	background-color: #25496f;
	color: #fff;
}

.admin-btn.cancel {
	background-color: #fff;
	color: #333;
	border: 1px solid #e2e2e2;
}

.admin-btn.edit {
	background-color: #e2e2e2;
	color: #333;
}

.admin-header .global-nav {
	width: 100%;
	height: 44px;
	padding: 0 1rem;
	background-color: #e2e2e2;
}
.admin-header .global-nav-links {
	display: flex;
	align-items: center;
	max-width: 1260px;
	height: 100%;
	margin: 0 auto;
}
.admin-header .global-nav-links {
	justify-content: space-between;
}
