@charset "utf-8";

@import url('./reset.css');
@import url('./layout.css');
@import url('./component.css');
@import url('./common.css');

body:has(.admin) {
	background-color: #fafafc;
	margin: 0;
	padding: 0;
}
.admin-main {
	padding: 40px;
	min-height: calc(100vh - 144px);
	background-color: #fafafc;
}
.admin-main > .content > section {
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    padding: 32px;
}
.admin-main > .content > section + section {
	margin-top:32px;
}
.admin-main .title {
	margin-bottom : 32px;
}
.admin-main .title h3 {
	border-left : 4px solid #e2e2e2;
	padding-left : 8px;
}
.admin-main .chart-box {
	width: 600px;
	margin:auto;
}

.admin-main h1 {
	font-size: 24px;
	font-weight: 700;
	color: #333;
	text-align: center;
	margin-bottom: 30px;
}

.admin-main form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.admin-main .search-bar form {
	flex-direction: row;
}

.admin-main .form-group{
	width: 600px;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.admin-main label {
	font-weight: 700;
	color: #333;
}

.admin-main input[type='text'],
.admin-main input[type='password'],
.admin-main input[type='email'],
.admin-main textarea,
.admin-main select {
	width: 100%;
	padding: 12px 15px;
	border: 1px solid #ddd;
	border-radius: 6px;
	font-size: 16px;
	background-color: #fff;
	transition: border-color 0.3s ease-in-out;
	box-sizing: border-box;
}

.admin-main input[type='text']:focus,
.admin-main input[type='password']:focus,
.admin-main input[type='email']:focus,
.admin-main textarea:focus,
.admin-main select:focus {
	border-color: #007bff;
}
.admin-main select {
	padding : 12px 36px 12px 16px;
}
.admin-main input::placeholder,
.admin-main textarea {
	color: #bbb;
}

.address-group,
.phone-group {
	display: flex;
	gap: 10px;
}

.phone-group select,
.phone-group input {
	flex: 1;
}

.address-group button,
.phone-group button {
	padding: 12px 15px;
	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #9a6235;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

.address-group button:hover,
.phone-group button:hover {
	background-color: #763b00;
}

.out-btn {
	right: 3px;
	position: absolute;
	color: #c7c7c7;
}
.out-btn:hover {
	color: #ff0000;
}

.admin-btn {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.admin-btn.submit {
	background-color: #25496f;
	color: #fff;
}

.admin-btn.cancel {
	background-color: #fff;
	color: #333;
	border: 1px solid #e2e2e2;
}

.admin-btn.edit {
	background-color: #e2e2e2;
	color: #333;
}
.admin-header {
	position:sticky;
	top:0;
	border-bottom:1px solid #e2e2e2;
	background-color:#fafafc;
	z-index:3;
}
.admin-header .global-nav {
	width: 100%;
	height: 44px;
	padding: 0 1rem;
	background-color: #fafafc;
}
.admin-header .global-nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1260px;
	height: 100%;
	margin: 0 auto;
}
.admin-header .global-nav-links a.on{
	color:hotpink;
}
.admin-header .global-nav-links a:hover {
	text-decoration: underline;
}
.order-state {
	display:flex;
	gap:16px;
}
.order-state > li {
	flex:1;
	padding:32px;
	border-radius:20px;
}
.order-state > li:nth-child(1) {
	background-color:rgba(255, 99, 132, 0.2);
}
.order-state > li:nth-child(2) {
	background-color:rgba(255, 159, 64, 0.2);
}
.order-state > li:nth-child(3) {
	background-color:rgba(255, 205, 86, 0.2);
}
.order-state > li:nth-child(4) {
	background-color:rgba(75, 192, 192, 0.2);
}
.order-state > li:nth-child(5) {
	background-color:rgba(54, 162, 235, 0.2);
}
