/* 컴포넌트 스타일 */

/* 테이블 */
.table {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
}

.table th,
.table td {
	border: 1px solid #e2e2e2;
	padding: 12px;
	text-align: center;
}
.table th {
	background-color: #ccc;
	font-weight: bold;
}
caption {
	position: relative;
	text-indent: -9999px;
	height: 0;
}
/* 테이블위 검색영역 */
.search-group {
	display: flex;
	gap: 32px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.search-bar {
	display: flex;
	justify-content: flex-end;
	gap:16px;
	flex-direction: row !important;
}

.search-bar input {
	padding: 5px;
	font-size: 14px;
	width: 200px;
	margin-right: 5px;
}

.search-btn {
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
}

.table1 {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin: 0 auto;
}

.table1 th,
.table1 td {
	padding: 12px;
	border: 1px solid #fff;
	background: #f9eeb0;
	font-weight: bold;
	color: #231a07;
	text-align: center;
}

.table1 th {
	background-color: #8b5228;
	border: none;
	border-radius: 10px 10px 0 0;
	color: #fff;
	text-align: center;
}

.pagination {
	display:flex;
	gap:10px;
	justify-content:center;
	text-align: center;
	margin-bottom: 20px;
	padding: 15px;
}
.pagination > div {
	border-radius: 50%;
	background-color: #673a11;
	width: 25px;
	height: 25px;
	display: inline-block;
	color: #fff;
	padding: 2px;
}
.pagination > div > a {
	color:#fff;
}
.pagination .on {
	background-color: #cda178;
}
.pagination .disable {
	background-color: #bbb;
}

.pagination a:hover {
	text-decoration: underline;
}

.admin-pagination {
	display:flex;
	gap:10px;
	justify-content:center;
	text-align: center;
	margin-top: 20px;
	padding: 15px;
}

.admin-pagination a {
	text-decoration: none;
	color: #333;
	padding: 12px;
	border-radius: 8px;
	border: 1px solid #e2e2e2;
}
.admin-pagination a.on {
	color: #fff;
	background-color: #25496f;
}
.admin-pagination a.disable {
	background-color: #bbb;
}

.admin-pagination a:hover {
	text-decoration: underline;
}
/* 버튼 */
.button-container {
	text-align: right;
}

.btn {
	padding: 12px 24px;
	border-radius: 12px;
	cursor: pointer;
}
.btn.search {
	background:url(../img/icon_search.png) no-repeat center/contain;
}
.btn.submit {
	color: #fff;
	background-color: #744e33;
}
.btn.cancel {
	border: 1px solid #744e33;
	background-color: #fff;
	color: #744e33;
}
.btn.edit {
	color: #333;
	background-color: #e2e2e2;
}

caption {
	position: relative;
	text-indent: -9999px;
	height: 0;
}

.btn_div {
	text-align: center;
	padding: 15px;
}
/* 파이널버튼 */
.final-btn {
	font-family: 'Helvetica', 'Arial', sans-serif;
	display: inline-block;
	width: 300px;
	font-size: 1em;
	padding: 1em 2em;
	margin-top: 100px;
	margin-bottom: 60px;
	-webkit-appearance: none;
	appearance: none;
	background-color: #673a11;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.final-btn:focus {
	outline: 0;
}

.final-btn:before,
.final-btn:after {
	position: absolute;
	content: '';
	display: block;
	width: 40%;
	height: 100%;
	left: 20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.final-btn:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, #673a11 20%, transparent 20%), radial-gradient(circle, transparent 20%, #673a11 20%, transparent 30%), radial-gradient(circle, #673a11 20%, transparent 20%),
		radial-gradient(circle, #673a11 20%, transparent 20%), radial-gradient(circle, transparent 10%, #673a11 15%, transparent 20%), radial-gradient(circle, #673a11 20%, transparent 20%),
		radial-gradient(circle, #673a11 20%, transparent 20%), radial-gradient(circle, #673a11 20%, transparent 20%), radial-gradient(circle, #673a11 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
	background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}

.final-btn:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, #673a11 20%, transparent 20%), radial-gradient(circle, #673a11 20%, transparent 20%), radial-gradient(circle, transparent 10%, #673a11 15%, transparent 20%),
		radial-gradient(circle, #673a11 20%, transparent 20%), radial-gradient(circle, #673a11 20%, transparent 20%), radial-gradient(circle, #673a11 20%, transparent 20%),
		radial-gradient(circle, #673a11 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
	background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}

.final-btn:active {
	transform: scale(0.9);
	background-color: darken(#673a11, 5%);
	box-shadow: 0 2px 25px rgba(237, 99, 19, 0.2);
}

.final-btn.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}
.final-btn.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
	
}


.brand-box {
     padding: 20px;
     margin: 20px;
     border: 1px solid #ddd;
     border-radius: 5px;
     background-color: #f9f9f9;
}

.brand-title {
     color: #5b4024;
}

.item > .img-box {
	min-height:300px;
}
.item > .img-box > img {
	max-width:70%;
	transition:0.5s;
}
.item > .img-box > img:hover {
	max-width:100%;
}

/* jQueryUI */
.ui-datepicker-year, .ui-datepicker-month{
	display: inline !important;
	margin-right: 5px !important;
	width: 89px !important;
}

   
